body
{
    font-size:14px;
    text-align: center;
    margin: 6%;
    padding: 2%;
}
* {
  font-family: 'Nunito' !important;
}
td:nth-child(1) {
  font-weight: 500;
  font-size: 1rem;
}
.nope{
  overflow: auto;
  position: relative; 
 background-color: #282A35;;
 top:0px;
 bottom:84%;
 left: 0px;
 right: 0px;
 }
#Dev{
  position: sticky;
  margin-left: 2%;
  float: left;
  color:#f1f1f1;
  font-family: BlinkMac System Font,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
#iop{
  position: sticky;
  margin-right: 13%;
  float: right; 
  color:#f1f1f1;;
  font-family: BlinkMac System Font,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
#img{
  position: sticky;
  float: right;
  top: 20%;
  left: 89%; 
}
.topnav .icon {
  display: none;
}
    table
    {
      float: left;
      margin: 50px;
      padding: 5px;        
    }
    tr:nth-child(even) {
      background-color: #D6EEEE;
    }
    tr:nth-child(1) {
      background-color:khaki;
    }

    tr:hover {
      background-color:whitesmoke;
      }
    table, th, td{
      border-style: hidden;
      border-bottom: 1px solid #ddd;
      font-family: verdana,arial,sans-serif;
      margin: 4px;
   		padding: 5px;
  		border-spacing: 15px;
      border-collapse:collapse;
      table-layout: auto;  
  }
        .topnav {
            width: fit-content;           
            width: max-content;
            display: block;
            position: relative;
            width: fit-content;

            height: 53px;
            top: 10%;
            width: 100%;
            background-color: #04AA6D;
          }
          
          .topnav a {    
            align-items: center;
                display: inline-block;
                display: -moz-inline-box;
                *display: inline; 
                zoom: 1; 
                width: 10%;
                text-align: center;
            color: #f2f2f2;
            padding: 15px 15px; 
            text-decoration: none;
            font-size: 17px; 
            overflow: hidden;
          }
          
          .topnav a:hover {
            background-color: #ddd;
            cursor: pointer;
            color: black;
          }
          
          .topnav .icon {
            display: none;
            cursor: pointer;
          }
          @media screen and (max-width: 1100px) {
            .topnav a:not(:first-child) {display: none;}
            .topnav a.icon {
              float: right;
              display: block;
            }
          .topnav .icon {
            right: 0%;
            cursor: pointer;
          }
            #img{
              visibility: hidden;
            }
            #iop{
              visibility: hidden;
            }
            .topnav{
              mask-position: 0%;
              /* width: 100%; */
              /* left: 0%;  */
              display:inline-block;
              width: fit-content;
              float : left;
              scroll-behavior: smooth;
              /* overflow: auto; */
              /* position: relative;  */
             /* background-color: #282A35;; */
             /* top:0px;
             bottom:84%;
             left: 0px;
             right: 0px; */
             /* display: block;     */
            }
             .topnav a{
             background-color: #04AA6D;
             
             /* display: inline-block; */
            }
           .topnav .icon{
              /* max-height: max-content; */
              float: right;
              /* margin-right: 0%; */
            } 
            .topnav.responsive {position: relative;
            }
            .topnav.responsive a.icon {
              /* top:0px;
              bottom:84%;
              left: 0px;
              right: 0px; */
               
              /* width: max-content; */
              position: absolute;
              /* left:0; */
              right: 0;
              top: 0;
            }
            .topnav{
              top : 5%;
            }
            .topnav.responsive a {
              /* top:0px;
              bottom:84%;
              left: 0px;
              right: 0px; */
              width: fit-content;
              display: block;
              text-align: left;
            }
          }