body
{
    font-size:14px;
    text-align: center;
    background-color:#f8f9fa;
    /* background-color:#E7E9EB; */
}
* {
  font-family: 'Nunito' !important;
}

td:nth-child(1) {
  font-weight: 500;
  font-size: 1rem;
}
.nope{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /* color: white; */
  text-align: center;
    /* background: #1abc9c; */
    /* color: white; */
    /* font-size: 30px; */
  overflow: auto;
 background-color: #282A35;
 }
#Dev{
  position: sticky;
  margin-left: 2%;
  float: left;
  color:#f1f1f1;
  font-family: BlinkMac System Font,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
#iop{
  position: sticky;
  margin-right: 13%;
  float: right; 
  color:#f1f1f1;;
  font-family: BlinkMac System Font,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
#img{
  position: sticky;
  float: right;
  top: 20%;
  left: 89%; 
}
.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}
/* .nope {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
} */
 table
    {
      border-style:ridge;
      border-color:#fff!important;
      vertical-align: middle;
      scrollbar-width: auto;
      margin: 5px;
      padding: 5px;
      max-width:48%;
      max-height:400px;
      table-layout: scroll-behavior;   
                display: inline-block;
                display: -moz-inline-box;
      
      table-layout: scroll-behavior;   
      overflow-x:scroll;
      overflow-y:scroll;
      
    }
    
    .new
    {
      float: left;
     }
    .new1
    {
      float: right;
     }
     .opop{
      padding:10px 80px 10px 80px ;
      Color:#007bff;
      border-style:inset;
     left:-15%;
     display:inline-block;
     position:relative;
     font-size:30px;
     
     border-radius:20px;
     }
     .opop1{
      
      border-radius:20px;
border-style:outset;
      Color:#007bff;
      padding:10px 80px 10px 80px ;
     display:inline-block;
      position:relative;
      right:-15%;
      font-size:30px;
  }
   figcaption {
    display:flex;
    position:vertical-align;
      font-weight: bold;
      font-size: 24px;
      color: #333;
    }
    tr:nth-child(even) {
      background-color: #D6EEEE;
    }
    
    tr:nth-child(odd) {
    background-color:#E7E9EB;

    }
    tr:nth-child(1) {
      background-color:khaki;
    }
    .tabover{
      align-items: center;
      
      table-layout: scroll-behavior;   
      display: inline-block;
      display: -moz-inline-box;
      overflow-x:scroll;
      overflow-y:scroll;
      width:10px;
      height:10px;
    }
    tr:hover {
      background-color:whitesmoke;
      }
    table, th, td{
      /* overflow-x:scroll;
      overflow-y:scroll;
     */
      /* height:100px;
      width:60px; */
      /* width:10%; */
      /* border-style: hidden; */
      /* overflow: scroll-behavior; */
          
      border-bottom: 1px solid #ddd;
      font-family: verdana,arial,sans-serif;
      margin: 4px;            
   		padding: 5px;
  		border-spacing: 15px;
      align-items: center;
      border-collapse:collapse;
      table-layout: scroll-behavior;   
  }
        .topnav {
          position:.responsive;
            display: inline-block;
            padding: 10px 10px 6px 10px;
            height: fit-content;
            width: 50%; 
            white-space: nowrap;
            background-color: #04AA6D;
          }
          
          .topnav a {
            color:#007bff;
            white-space: nowrap;    
                align-items: center;
                display: inline-block;
                display: -moz-inline-box;
                *display: inline; 
                /* zoom: 1;  */
                /* width: 10%; */
                text-align: center;
                color: #f2f2f2;
                padding: 15px 15px; 
                text-decoration: none;
                font-size: 17px; 
                overflow: hidden;
          }
          
          .topnav a:hover {
            background-color: #ddd;
            cursor: pointer;
            color: black;
          }
          
          .topnav .icon {
            display: none;
            cursor: pointer;
          }
          @media screen and (max-width: 1200px) {
            /* .topnav a:not(:first-child) {display: none;} */
            /* .topnav a.icon {
              float: right;
              display: block;
            } */
          /* .topnav .icon {
            right: 0%;
            cursor: pointer;
          } */
            #img{
              visibility: hidden;
            }
            #iop{
              visibility: hidden;
            }
            .topnav{
              
      overflow-x:scroll;
      overflow-y:scroll;
      align-items: center;
      display: inline-block;
      display: -moz-inline-box;
      *display: inline; 
    
              /* mask-position: 0%;
              /* width: 100%; */
              /* left: 0%;  */
              /* display:inline-block; */
              /* width: fit-content; */
              /* float : left; */
              /* scroll-behavior: smooth; */ */
              /* overflow: auto; */
              /* position: relative;  */
             /* background-color: #282A35;; */
             /* top:0px;
             bottom:84%;
             left: 0px;
             right: 0px; */
             /* display: block;     */
            }
             .topnav a{
             background-color: #04AA6D;
             
             /* display: inline-block; */
            }
           .topnav .icon{
              /* max-height: max-content; */
              float: right;
              /* margin-right: 0%; */
            } 
            .topnav.responsive {position: relative;
            }
            .topnav.responsive a.icon {
              /* top:0px;
              bottom:84%;
              left: 0px;
              right: 0px; */
               
              /* width: max-content; */
              position: absolute;
              /* left:0; */
              right: 0;
              top: 0;
            }
            .topnav{
              top : 5%;
            }
            .topnav.responsive a {
              /* top:0px;
              bottom:84%;
              left: 0px;
              right: 0px; */
              width: fit-content;
              display: block;
              text-align: left;
            }
          }